<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Hilfebereich data.gv.at-Cockpit</py:def>

  	<div py:match="content">
  		<h2>Hilfebereich</h2>
		<p>Bitte benutzen Sie den nachfolgenden Link, um die aktuelle Version des Benutzerhandbuch für CDOs (Chief-Data-Officers) zum Einpflegen und Bearbeiten von Datensätzen aufzurufen:</p>
		<p><a href="http://www.data.gv.at/handbuch" target="_blank">http://www.data.gv.at/handbuch</a></p>
		
		<p>Sollten Sie weitere Fragen haben, wenden Sie sich bitte an <a href="mailto:data@bka.gv.at">data@bka.gv.at</a>.</p>
		
		<p>Ihr data.gv.at-Betriebsteam</p>
	</div>

  <xi:include href="layout.html" /> 
</html>